@model List<Rol>

<h2 class="minimal-title">Listado de Roles</h2>

<a asp-action="Create" class="btn-add">Nuevo Rol</a>

<div class="table-wrapper">
    <table class="minimal-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr class="estado-fila @(r.Activo ? "si" : "no")">
               
                    <td>@r.Nombre</td>
                    <td>@(r.Activo ? "Sí" : "No")</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@r.RolId" class="btn-add listas">Editar</a>
                        <a asp-action="Delete" asp-route-id="@r.RolId" class="btn-add listase">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    @if (TempData["Mensaje"] != null)
    {
        <text>
                    Swal.fire({
                        icon: '@TempData["TipoMensaje"]',
                        title: '@(TempData["TipoMensaje"]?.ToString() == "success" ? "Éxito" : "Error")',
                        text: '@TempData["Mensaje"]'
                    });
        </text>
    }
</script>