@model Usuario

@{
    var empresas = ViewBag.Empresas as List<Empresa>;
    var roles = ViewBag.Roles as List<Rol>;
    var esAdmin = ViewBag.EsAdmin as bool? ?? false;
    if (esAdmin)
    {
        roles = roles.Where(r => r.Nombre != "Admin AutoReport").ToList();
    }
}

<div class="centered-wrapper">
    <form asp-action="Edit" method="post" class="minimal-form big-form">
        <h2 class="minimal-title">Editar Usuario</h2>

        <input type="hidden" asp-for="UsuarioId" />

        <label>
            @Html.DisplayNameFor(m => m.Nombre)
            <input asp-for="Nombre" type="text" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </label>

        <label>
            @Html.DisplayNameFor(m => m.Email)
            <input asp-for="Email" type="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </label>

        <label>
            Contraseña
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </label>

        <label>
            Empresa
            <select asp-for="EmpresaId" asp-items="@(new SelectList(empresas, "EmpresaId", "Nombre"))"></select>
        </label>

        <label>
            Rol
            <select asp-for="RolId" asp-items="@(new SelectList(roles, "RolId", "Nombre"))"></select>
        </label>

        <label class="checkbox-label">
            <input asp-for="Activo" type="checkbox" />
            @Html.DisplayNameFor(m => m.Activo)
        </label>

        <button type="submit">Guardar</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    @if (TempData["Mensaje"] != null)
    {
        <text>
                    Swal.fire({
                        icon: '@TempData["TipoMensaje"]',
                        title: '@(TempData["TipoMensaje"]?.ToString() == "success" ? "Éxito" : "Error")',
                        text: '@TempData["Mensaje"]'
                    });
        </text>
    }
</script>